[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "aramappings"]
	path = aramappings
	url = https://github.com/manuelrubio/aramappings
